.jumbotron.text-center {
          background-image: url('../images/home_picture.png');
          background-size: cover;
          background-position: center;
          color: #ffffff;
          padding: 7% 0;
          margin-bottom: 0;
      }

.homepicture_h1 {
    margin-left: 50%;
    font-family: 'Impact', sans-serif; 
}

.homepicture_h1 h1 {
    font-size: 5rem; 
    font-weight: normal; 
    text-transform: uppercase; 
    margin: 0;
    letter-spacing: 10px; 
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.rounded-container {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: orange;
    border-color: orange;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-img-top {
    max-height: 250px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.rating {
    position: absolute;
    top: 10px;
    right: 8px;
}

.rating-badge {
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 4px;
}

.price {
    position: absolute;
    top: 10px;
    right: 8px;
}

.price-badge {
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 4px;
}

.frame {
    border: 10px solid orange;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.input-sm {
    margin-bottom: 10px;
    margin-left: 5px;
}

.map-frame {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	height: 80%;
	margin-top: 10%;
}

.map-frame div {
    max-width: 100%;
    max-height: 100%;
}

.nowrap {
    white-space: nowrap;
}

.comment_status {
    background-color: #f8f9fa;
    color: orange;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.admin_status {
    background-color: #f8f9fa;
    color: orange;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}